.content-bg {
    background-color:lightgray;
    outline: auto;
    outline-color: rgb(237, 238, 239);
}

.content {
    background-color:white;
}

.list-group:hover {
    cursor: pointer;

}

.info-field {
    color: rgb(0, 0, 0)
}

.title {
    background-color:#F26925;
    color: white;
}

.purchase-info {
    color: grey;
}

img {

    width: 50%;
}

.list-group-item{

  background-color: white;
  border-color: green;
  border-radius: 10px;
  width: 170px;
  height: 50px;



}

.list-group-item.active{

  background-color: rgb(255, 186, 58);
  border-color: green;

}

.list-group-item:hover{

  background-color: whitesmoke;
  border-color: green;
  border-width: 3px;
}

.btn-primary{
  color: black;
  background-color: rgb(255, 186, 58);
  border-color: green;
  border-radius: 10px;




}
.btn-primary:hover{

  background-color: whitesmoke;
  border-color: green;
  border-width: 3px;
}
